
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/auth/add" method="post">
    Username:<input type="text" name="username" />
    Email:<input type="text" name="email"/>
    <input type="submit" value="Ajouter"/>
</form>
<table border="1">
    <tr><a href="/auth/rechercherUtilistateur"> Gerer user</a></tr>
    <tr>
        <td>UserName</td>
        <td>Email</td>
    </tr>
    {% for item in data %}
<tr>
    <td>{{item.username}}</td>
    <td>{{item.email}}</td>
</tr>
    {% endfor %}

</table>
</body>
</html>
